
@{
    ViewBag.Title = "NoPosts";
}

<h2 class="text-center">You don't have any posts yet</h2>

<img alt="Pancake smiling" width=40% class="center-block" src="@Url.Content("~/Content/pancakesearch.png")" />

<h3 class="text-center">@Html.ActionLink("Click here", "CreatePost", "Posts") to create your first!</h3>
