
@{
    ViewBag.Title = "Admin Dashboard";
}
     <h1 class="text-center">Admin Dashboard</h1>
    
        <div class="row">
<div class="col-md-6">
    <img alt="A pancake on fire" width="300" class="center-block" src="@Url.Content("~/Content/pancakefire.png")" />
</div><div class="col-md-6">
    <p></p>
    @Html.ActionLink("Users", "ViewAllUsers", "Admin", new { @class = "btn btn-lg btn-primary" })
    <p></p>
    <br />
    @Html.ActionLink("Staffs", "ViewAllStaffMembers", "Admin", new { @class = "btn btn-lg btn-primary " })
    <p></p>
    <br />
    @Html.ActionLink("Posts", "ViewAllPosts", "Admin", new { @class = "btn btn-lg btn-primary " })
</div>
    </div>
