
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Users", "ViewAllUsers", "Admin", new { @class = "btn btn-md btn-primary " })
@Html.ActionLink("Staffs", "ViewAllStaffMembers", "Admin", new { @class = "btn btn-md btn-primary " })
@Html.ActionLink("Posts", "ViewAllPosts", "Admin", new { @class = "btn btn-md btn-primary " })


