@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

    <hgroup>
        <h1 class="text-danger text-center">Locked out.</h1>
        <h2 class="text-danger text-center">You appear to have been naughty and you're not allowed to log in :(</h2>


    </hgroup>

        <img id="jail" alt="jail" class="center-block" src="@Url.Content("~/Content/jail.png")" />